//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 21 23:49:33 2023
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

